@charset "utf-8";

@import "bourbon";
@import "base/base";   /* Bitters needs to be imported before Neat */
@import "neat";

html, body {
  height: 100%;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.pull-right {
  float: right;
}

.captured-order {
  padding: 1em;
  border-bottom: $base-border;
}

.order {
  border: $base-border;
  border-radius: 3px;
  margin: 10px;
  font-size: 0.9em;

  table {
    margin: 0;

    > tbody > tr > td,
    > tbody > tr > th,
    > thead > tr > th {
      padding: 10px;
    }

    > tbody > tr:last-child > th {
      border: none;
    }
  }
}

.order__count-column {
  text-align: center;
  width: 10em;
}

.order__total-column {
  text-align: right;
}

.order__item-count {
  display: inline-block;
  width: 2em;
}

.order__buttons {
  margin: 10px;

  > button {
    display: inline-block;
    width: 49%;
  }
}

.order__cancel-button {
  background-color: #cccccc;

  &:hover,
  &:focus {
    background-color: darken(#cccccc, 15%);
    color: #fff;
  }
}

.product-list {
  @include outer-container;
  padding: 10px;
}

.product-item {
  @include span-columns(6);
  @include omega(2n);
  color: black;
  background: none;
  padding: 0;

  &:active, &:focus, &:hover {
    color: black;
    background: none;
    padding: 0;
  }
}

.product-item__body {
  border: $base-border;
  border-radius: 3px;
  margin-bottom: 5px;
  padding: 1em;
  text-align: center;
}

.product-item:active .product-item__body {
  border-top-width: 3px;
  border-left-width: 3px;
}

$bar-height: 44px;

.top-bar {
  height: $bar-height;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 20;
  padding-right: 10px;
  padding-left: 10px;
  color: #ffffff;
  background-color: #8AB4E6;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.top-bar__action, .top-bar > h1 {
  padding: 0;
  line-height: $bar-height;
  white-space: nowrap;
  float: left;
  width: 50%;
  display: block;
}

.top-bar > h1 {
  color: #2B41AA;
}

.top-bar__action {
  text-align: right;
  color: #fff;
}

.navbar {
  @include clearfix;
  padding-top: $bar-height;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: #8AB4E6;
  box-shadow: 0px 1px 5px gray;

  > li {
    text-align: center;
    width: 50%;
    float: left;

    &:first-child {
      border-left: none;
    }

    > a {
      line-height: $bar-height;
      display: block;
      color: #fff;
    }
  }
}

.flashy {
  @include animation-name(flashy);
  @include animation-duration(2s);
  @include animation-timing-function(ease);
  @include animation-iteration-count(1);
}

@include keyframes(flashy) {
  from { background-color: #B1C4F0; }
  to { background-color: none; }
}

.content {
  padding-top: 2 * $bar-height;
  overflow: auto;
  background-color: #fff;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
