---
title: Welcome to Middleman
---

<div class="product-list">
  <div class="product-item">
    <div class="product-item__body">
      <h1>Elote chico</h1>
      <span>$15.00</span>
    </div>
  </div>
  <div class="product-item">
    <div class="product-item__body">
      <h1>Elote mediano</h1>
      <span>$20.00</span>
    </div>
  </div>
  <div class="product-item">
    <div class="product-item__body">
      <h1>Elote grande</h1>
      <span>$25.00</span>
    </div>
  </div>
  <div class="product-item">
    <div class="product-item__body">
      <h1>Tostitos</h1>
      <span>$30.00</span>
    </div>
  </div>
  <div class="product-item">
    <div class="product-item__body">
      <h1>Conchitas</h1>
      <span>$30.00</span>
    </div>
  </div>
</div>

