<div class="order">
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th class="text-center">Cantidad</th>
        <th class="text-center">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Elote chico</td>
        <td class="text-center">3</td>
        <td class="text-center">$45.00</td>
      </tr>
      <tr>
        <th>Total:</th>
        <th></th>
        <th class="text-center">$45.00</th>
      </tr>
    </tbody>
  </table>
</div>

<div class="order-button">
  <button>Capturar</button>
</div>
